<div id="modal" class="hide">

    <div class="content">
        <!--Header-->
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a id="btn-close" href="#">Fechar</a>
        </div>
        <!--Form-->
        <form action="/search">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise por cidade"/>
                <button id="btn-search-city">
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
            </div>
        </form>

    </div>

</div>